:root {
  --clr-accent-hsl-0: 0, 0%, 100%;
  --clr-accent-hsl-1: 210, 46%, 95%;
  --clr-accent-hsl-2: 212, 23%, 69%;
  --clr-accent-hsl-3: 214, 17%, 51%;
  --clr-accent-hsl-4: 217, 19%, 35%;

  --clr-accent-0: hsl(var(--clr-accent-hsl-0));
  --clr-accent-1: hsl(var(--clr-accent-hsl-1));
  --clr-accent-2: hsl(var(--clr-accent-hsl-2));
  --clr-accent-3: hsl(var(--clr-accent-hsl-3));
  --clr-accent-4: hsl(var(--clr-accent-hsl-4));

  --ff-primary: "Manrope", sans-serif;

  --fw-medium: 500;
  --fw-bold: 700;

  --fs-100: 0.8125rem;
  --fs-200: 1rem;
  --fs-300: 1.2rem;
  --fs-400: 1.5rem;
  --fs-500: 2rem;

  --size-100: 0.5rem;
  --size-200: 0.75rem;
  --size-300: 1rem;
  --size-400: 1.5rem;
  --size-500: 2rem;
  --size-600: 3rem;

  /* Tokens */

  --clr-bg-body: var(--clr-accent-1);
  --clr-body: var(--clr-accent-3);
  --clr-bg-article__component: var(--clr-accent-0);
  --clr-article__heading: var(--clr-accent-4);

  --ff-body: var(--ff-primary);
  --ff-article__heading: var(--ff-primary);

  --fw-body: var(--fw-medium);
  --fw-article__heading: var(--fw-bold);

  --fs-body: var(--fs-100);
  --fs-article__heading: var(--fs-200);
}

/* Reset Styles */

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font: inherit;
}

img,
svg,
picture {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

li a {
  text-decoration: none;
}

/* General Styles */

body {
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  font-weight: var(--fw-body);
  color: var(--clr-body);
  background-color: var(--clr-bg-body);

  display: grid;
  place-items: center;
  min-height: 100vh;
}

.container {
  margin-inline: var(--size-300);
}

.article__component {
  background: var(--clr-bg-article__component);
  border-radius: var(--size-300);
  box-shadow: var(--size-100) var(--size-300) var(--size-600)
    hsl(var(--clr-accent-hsl-3), 0.5);
  max-width: 20rem;
}

.article__description {
  position: relative;
}

.image__wrapper img {
  width: 100%;
  height: 12.5rem;
  object-fit: cover;
  border-radius: var(--size-300) var(--size-300) 0 0;
}

.article__heading {
  color: var(--clr-article__heading);
  font-size: var(--fs-article__heading);
  font-family: var(--ff-article__heading);
  font-weight: var(--fw-article__heading);
  padding-inline: var(--size-400);
}

.article__main-text {
  line-height: 1.5;
  width: 35ch;
  padding-inline: var(--size-400);
  padding-block-start: 1.2rem;
  padding-block-end: 1.2rem;
}

.author-and-share-section {
  position: relative;
}

.article__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: var(--size-400);
}

.avatar {
  max-width: 2.5rem;
  border-radius: 50%;
}

.article__writer {
  color: var(--clr-accent-4);
  font-weight: var(--fw-bold);
}

.share-btn {
  background: hsl(var(--clr-accent-hsl-2), 0.65);
  width: var(--size-500);
  height: var(--size-500);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 999;

  display: grid;
  place-items: center;
}

.share-btn:hover {
  background: hsl(var(--clr-accent-hsl-2), 1);
}

.article__tooltip {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  background: var(--clr-accent-4);
  padding-inline: var(--size-400);
  border-radius: 0 0 var(--size-300) var(--size-300);
  display: flex;
  align-items: center;
  gap: var(--size-300);
}

.article__heading-tooltip {
  color: hsl(var(--clr-accent-hsl-0), 0.5);
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}

.article__tooltip-icons {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.article__tooltip-toggle {
  visibility: hidden;
}

.flex-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--size-100);
}

/* Small screen widths */

@media (max-width: 800px) {
  .container {
    margin-top: var(--size-100);
  }

  .article__description {
    margin-block-start: var(--size-500);
    margin-block-end: var(--size-300);
  }

  .article__footer {
    padding-block: var(--size-100);
  }
}

/* Big screen widths */

@media (min-width: 800px) {
  .article__component {
    display: flex;
    place-items: center;

    border-radius: var(--size-300);
    max-width: 45.5rem;
  }

  .article__description {
    padding: var(--size-400);
  }

  .image__wrapper {
    width: 100%;
    height: 290px;
  }

  .image__wrapper img {
    border-radius: var(--size-300) 0 0 var(--size-300);
    height: 100%;
  }

  .article__heading {
    --fs-article__heading: var(--fs-300);
    font-size: var(--fs-article__heading);
    width: 28ch;
  }

  .article__main-text {
    width: fit-content;
  }

  .article__tooltip {
    position: absolute;
    top: -135%;
    right: -10%;
    width: 50%;
    z-index: 99;
    height: 100%;

    padding-inline: var(--size-100);
    border-radius: var(--size-100);
    gap: var(--size-100);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .article__tooltip-icons {
    gap: 0.7rem;
  }

  .triangle {
    position: absolute;
    bottom: -25%;
    left: 50%;

    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-top: 1rem solid var(--clr-accent-4);
  }
}

.coderSeth {
  font-size: var(--size-300);
  text-align: center;
  padding-block: var(--size-100);
}

.coderSeth a {
  --cS-color: 228, 45%, 44%;
  color: hsl(var(--cS-color));
}
